@keyframes scaleAndShake {
    25% { transform: rotate(0deg); }
    30% { transform: scale(1.05) rotate(5deg); }
    45% { transform: rotate(-5deg); }
    60% { transform: scale(0.95) rotate(5deg); }
    65% { transform: rotate(0deg); }
}

@keyframes smallShake {
    25% { transform: rotate(0deg); }
    30% { transform: rotate(3deg); }
    45% { transform: rotate(-3deg); }
    60% { transform: rotate(3deg); }
    65% { transform: rotate(0deg); }
}

/* clear formatting */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

h2 {
    text-align: center;
}

/* header: contains title and navbar  */
header {
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 15px;
    background-color: #824f77;
    color: #feecf6;
    align-items: center;
}

header img {
    justify-self: center;
}

header a {
    color: #feecf6;
    text-decoration: none;
}

header a:hover {
    cursor: pointer;
    color: #c9abbc;
    transition: color 0.2s ease-in-out;
}

body {
    background-color: #feecf6;
    color: #643f58
}

footer {
    padding: 15px;
    background-color: #824f77;
    color:#feecf6;
}

footer a {
    color:#feecf6;
    text-decoration: none;
}

footer a:hover {
    color: #a5d566;
    transition: color 0.2s ease-in-out;
}

footer img {
    width: 7.5%;
    min-width: 75px;
}

#menuIcon {
    max-width: 100%; 
    max-height: 60%; 
    min-height: 50%; 
    transition: transform 1s ease-in-out;
}

/* for rotating logo */
.rotate {
    transform: rotateZ(360deg);
}

.title {
    justify-self: left; /* horizontally centralised */
    padding-top: 2%;
    padding-left: 1%;
}

nav {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    display: none;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    border-top: double #feecf6;
    border-bottom: double #feecf6;
    color: #feecf6;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.page {
    width: auto;
    height: auto;
    padding: 15px;
}

.page a:hover {
    cursor: pointer;
    color: #c9abbc;
    transition: color 0.2s ease-in-out;
}

/* individual page containers */
.pageContainer {
    position: relative;
    display: block;
    padding: 0% 10%;
}

.pageContainer img {
    margin: auto;
    padding: 5%;

    display: block;
    
    width: 60%; 
    max-width: 300px; 
    max-height: 300px;
}

.about img {
    width: 100%;
    max-width: 600px; 
}

/* sub containers */
.sub {
    text-align: center;
    padding: 5% 0%;
}

.sub a img:hover {
    animation-name: scaleAndShake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/* origins and history page containers */
#page1 img {
    width: 100%;
    max-width: 600px; 
}

button.collapsible {
    padding: 15px;
    background-color: #c57fb6;
    color: #feecf6;
    border: outset #dd93c5;
    outline: none;
    width: 100%;
    font-size: 16px;
}

button.active, button.collapsible:hover {
    background-color: #a0608c;
    color: #feecf6;
    border: inset #c57fb6;
}

.content { 
    padding: 0% 5%;
    color: #643f58;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#page1 .content {
    background-color: #ebc0d8;
}

/* arrangement elements page containers */
#page2 .about {
    text-align: center;
}

.parent { /* for layering the arrangement images over each other*/
    display: block;
    position: relative;
    margin: 5%;
}

.parent img {
    width: 100%;
}

.parent:hover {
    animation-name: smallShake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.image1 {
    position: relative;
    grid-column: 2 / 3;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    grid-column: 2 / 3;
    display: none;
    top: 0px;
    left: 0px;
}

.image3 {
    position: absolute;
    grid-column: 2 / 3;
    display: none;
    top: 0px;
    left: 0px;
}

.elem p {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

/* styles of ikebana page containers */
#page3 .about {
    text-align: center;
}

#page3 img {
    width: 100%;
    max-height: 500px;
    height: auto;
}

a.collapsible {
    padding-top: 5%;
}

@media screen and (max-width:800px) {
    .menuHide { /* for using add/remove class on menuList*/
        display: block;
    }
}

@media screen and (min-width:800px) { 
    /* navbar */
    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-basis: 20%;
        flex-grow: 1;
    }

    nav ul li {
        flex-basis: 20%;
        flex-grow: 1;
        text-align: center;
    }

    #menuIcon {
        display: none;
    } 
    
    /* page containers */
    #page0 .pageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #page3 .pageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7% 1fr;
    }

    #page0 .about {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    #page3 .about {
        grid-column: 1 / 3;
    }

    #page3 #subtopic1 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    #page3 #subtopic2 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .parent { /* for layering the arrangement images over each other*/
        display: grid;
        grid-template-columns: auto 40% auto;
        position: relative;
        margin: 5%;
    }

    .parent img {
        width: 100%;
    }
}